.header_nav {
  display: flex;
  list-style: none;
  justify-content: right;
  padding-left: 0;
}
.header_nav li {
  margin-right: 30px;
}
/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}
.follow {
  cursor: pointer;
}

h1 a {
  color: black;
  text-decoration: none;
}

.recommend_users {
  list-style: none;
}

.posts_list {
  list-style: none;
}